body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
}


.padreAnclas{
    background-color: rgb(0, 0, 128);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.anclas{
    margin: 10px;
    text-decoration: none;
    color: white; 
     font-size: 30px;
}

h1{
    font-size: 50px;
}