body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
}


.padreAnclas{
    background-color: rgb(0, 0, 128);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.anclas{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white; 
     font-size: 30px;
}
.anclas:hover{
    background-color: rgb(42, 42, 255);
    color: aqua;
}

h1{
    font-size: 50px;
}
.form{
    border: 4px solid rgb(0, 0, 128);
    width: 500px;
    display: block;
    justify-content: center;
}

.botones{
    margin: 10px 10px;
    
    border-radius: 10px;
    
}
.botonEnviar{
width: 100px;
background-color: green;
}
.botonBorrar{
   background-color: red;
   
}

.input{
    margin: 10px;
}
.section{
    /* Posicione todo en el centro asi queda todo parejo con justify en eje horizontal y align  en eje vertical */
    display: block;
    justify-content: center;
    align-items: center;
    
}
.titulos{
    color: rgb(0, 0, 128);
}